.mainBody {
  background-color: rgb(175, 201, 229);
  color: rgb(36, 50, 78);
}

/* страница game */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 80px;
  width: 50%;
}

.wind {
  width: 80%;
  height: 60%;
}

.controls_con {
  display: flex;
  align-items: center;
}

.controls_con input,
.controls_con button {
  margin: 0 10px;
}

.controls h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.controls input {
  width: 200px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.controls button {
  background-color: rgb(36, 50, 78);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.btn {
  background-color: rgb(36, 50, 78);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.controls button:hover {
  background-color: rgb(95, 133, 158);
}

.controls p {
  margin-top: 10px;
  font-size: 16px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
